* {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 400;
  box-sizing: border-box;
}

.wrapper {
  margin-left: 250px;
  padding: 0px 10px;
}

.toggle-wrapper {
  margin-left: 75px;
  transition: margin-left 0.3s ease-in-out, margin-right 0.3s ease-in-out;
}

.wrapper h1 {
  text-align: left;
  font-size: 1.8rem;
  font-weight: 400;
}

.admin {
  margin-top: 100px;
}

.page {
  display: block;
  margin-top: 15px;
  padding: 0px 10px;
}

.inner-page {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 40px;
  margin: 17px 0px;
  border-radius: 5px;
  background-color: #000;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.inner-page:hover {
  background-color: #fff;
  border: 1px solid #000;
}

.inner-page:hover > a {
  color: #000;
}

.page a {
  color: #fff;
  text-decoration: none;
}

.table {
  padding: 0px 10px;
}

table {
  margin: 20px 0px;
  width: 100%;
  border-collapse: collapse;
}

table img {
  width: 180px;
  height: 150px;
  object-fit: cover;
}

table tr {
  height: 50px;
}

table tr td {
  padding: 10px;
}

table tr td a {
  text-decoration: none;
  color: #000;
  margin: 0px 10px;
}

.filter {
  padding: 15px 10px;
}

.filter input {
  height: 30px;
}

.filter select {
  width: 80px;
  height: 30px;
  font-size: 17px;
}

.filter-search {
  background-color: #000;
  color: #fff;
  width: 140px;
  font-size: 17px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.filter-search:hover {
  background-color: #fff;
  border: 1px solid #000;
  color: #000;
}

.edit-delete {
  text-align: center;
}

.detail {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(29, 140, 231);
  color: #fff;
  margin: 10px 0px;
  height: 40px;
  border-radius: 4px;
  transition: 0.3s;
}

.detail:hover {
  background-color: #fff;
  color: #000;
  border: 1px solid rgb(29, 140, 231);
}

.edit {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(231, 231, 0);
  margin: 10px 0px;
  height: 40px;
  border-radius: 4px;
  transition: 0.3s;
}

.edit:hover {
  background-color: #fff;
  border: 1px solid rgb(231, 231, 0);
}

.delete {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 72, 0);
  color: #fff;
  margin: 10px 0px;
  height: 40px;
  border-radius: 4px;
  transition: 0.3s;
}

.delete:hover {
  background-color: #fff;
  color: rgb(255, 72, 0);
  border: 1px solid rgb(255, 72, 0);
}

.function {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0px 10px;
}

.function input {
  width: 150px;
  height: 35px;
  font-size: 17px;
  cursor: pointer;
  background-color: #fff;
  outline: none;
  border: none;
}

.function a {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  width: 150px;
  height: 35px;
  text-decoration: none;
  color: #000;
}

@media screen and (max-width: 1050px) {
  .table {
    overflow-x: scroll;
    width: 100%;
  }

  table {
    width: 900px;
  }
}

@media screen and (max-width: 950px) {
  .wrapper {
    margin-left: 0;
  }

  .row-box {
    flex-wrap: wrap;
  }

  .small-box {
    display: block;
    margin-bottom: 20px;
    width: 47.5%;
  }
}
